*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container {
	position: relative;
	width: 970px;
	height: 250px;
	top: 0px;
	left: 0px;
	border: 1px solid black;	
	background: #FFF;
	overflow: hidden;
	padding: 15px 0 0 20px;	
}

#phone-wrapper {
	width: 460px;
	height: 220px;	
    background: url(../img/phone_sprite.png) no-repeat -30px -3px;
    float: left;
    position: absolute;
    top: 265px;
    margin: auto;
    left: 30px;
    right: 0;
}
.dragBar-wrapper {
	position: absolute;
    height: 205px;
    width: 14px;
    right: 205px;
    top: 265px;
}
.dragBar-vertical {
	transform: rotate(90deg);	
	position: relative;
	top: 10px;
}
#dragBar {
  -webkit-appearance: none;
  width: 200px;
  height: 1px;  
  background: rgba(174,174,174,0.9);
  outline: none;
  padding: 0;
  margin: 0;
}
#dragBar:hover,
#dragBar:focus {
	cursor: pointer;
}
#dragBar::-webkit-slider-thumb:hover, 
#dragBar::-webkit-slider-thumb:focus {  
	cursor: move;
}
#dragBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.left-col { 
	width: 280px;
	float: left;
}

.header-wrapper,
.text-wrapper {
	float: left;
	width: 100%;	
}
.samsLogo {
	width: 75px;
}
.label img { 
	max-width: 100%;
}
.galaxyLogo img {
	position: relative;
	left: -3px;
}
.text-wrapper .text-content {
	height: 155px;
    position: relative;
    opacity: 0;
    transition: opacity 3s;
}
.text-content img {
	position: absolute;
    bottom: 0;
}
.right-col {
	float: right;
	width: 200px;
	margin-top: -10px;
	position: relative;
	height: 100%;
}
.right-col > div {
	float: right;
	width: 100%;
}
.close-wrapper {
	margin-bottom: 9px;
	padding-right: 10px;
	cursor: pointer;
}
.close-icon-wrapper {
	position: relative;
	float: right;
	border: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 1px 2px;
}
.close-text {
	float: right;
	margin-right: 5px;
    font-size: 11px;
    font-family: arial;
    text-decoration: underline;
    margin-top: 2px;
}
.close-icon {	
	font: 11px/100% arial, sans-serif;	
	text-shadow: 0 1px 0 #fff;
}
.close-icon:after {
  content: '✖'; /* UTF-8 symbol */
  font-weight: bold;
}
.label-wrapper {
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	padding-right: 15px;
	opacity: 0;
	transition: opacity 2s;
}
.buyBtn {
	position: absolute;
	bottom: 10px;
	opacity: 0;
	transition: opacity 2s;
}
.buyBtn img {
	display: block;
	margin: auto;
	width: 100px;
}
