*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container {
	position: relative;
	width: 970px;
	height: 250px;
	top: 0px;
	left: 0px;
	border: 1px solid black;	
	background: #FFF;
	overflow: hidden;
	padding: 15px 0 0 20px;	
	cursor: pointer;
}

#phone-wrapper {
	width: 460px;
	height: 220px;	
    background: url(../img/phone_sprite.png) no-repeat -30px 0px;    
    position: absolute;
    top: 265px;
    margin: auto;
    left: 30px;
    right: 0;
}
.dragBar-wrapper {
	position: absolute;
    height: 205px;
    width: 14px;
    right: 205px;
    top: 265px;   
}
.dragBar-vertical {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	z-index: 2;
	position: relative;
	top: 10px;
}
/*for Chrome, Safari, Opera*/
#dragBar {
	-webkit-appearance: none;
	width: 200px;
	height: 1px;  
	background: rgba(174,174,174,0.9);
	outline: none;
	padding: 0;
	margin: 0;
}
#dragBar:hover,
#dragBar:focus {
	cursor: pointer;
}
#dragBar::-webkit-slider-thumb:hover, 
#dragBar::-webkit-slider-thumb:focus {  
	cursor: move;
}
#dragBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

/*for Firefox*/
#dragBar::-moz-range-track {
	width: 200px;
	height: .5px;  
	background: rgba(174,174,174,0.9);
	outline: none;
	padding: 0;
	margin: 0;
}
#dragBar::-moz-range-thumb {
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
#dragBar::-moz-range-thumb:hover,
#dragBar::-moz-range-thumb:focus {
	cursor: move;
}
/*for IE*/
#dragBar::-ms-track {
	width: 200px;
	height: 1px;  
	background: transparent;
	border-color: transparent;
    border-width: 6px 0;
    color: transparent;
	padding: 0;
	margin: 0;
}
#dragBar::-ms-fill-lower {
    background: rgba(174,174,174,0.9);
    border-radius: 10px;
}
#dragBar::-ms-fill-upper {
    background: rgba(174,174,174,0.9);
    border-radius: 10px;
}
#dragBar::-ms-thumb {
	border: none;
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: move;
    padding: 20px;
}


.left-col { 
	width: 280px;
	float: left;
}
.header-wrapper,
.text-wrapper {
	float: left;
	width: 100%;	
}
.samsLogo {
	width: 75px;
}
.label img { 
	max-width: 100%;
}
.galaxyLogo img {
	position: relative;
	left: -3px;
}
.text-wrapper .text-content {
	height: 155px;
    position: relative;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    -moz-transition: opacity 3s;
}
.text-content img {
	position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
}
.text-content img.text-active {
	opacity: 1;
}
.right-col {
	float: right;
	width: 200px;
	margin-top: -10px;
	position: relative;
	height: 100%;
}
.right-col > div {
	float: right;
	width: 100%;
}
.close-wrapper {
	margin-bottom: 9px;
	padding-right: 10px;
	cursor: pointer;
}
.close-icon-wrapper {
	position: relative;
	float: right;
	border: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 1px 2px;
}
.close-text {
	float: right;
	margin-right: 5px;
    font-size: 11px;
    font-family: arial;
    text-decoration: underline;
    margin-top: 2px;
}
.close-icon {	
	font: 11px/100% arial, sans-serif;	
	text-shadow: 0 1px 0 #fff;
}
.close-icon:after {
  content: '✖'; /* UTF-8 symbol */
  font-weight: bold;
}
.label-wrapper {
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	padding-right: 15px;
	opacity: 0;
	transition: opacity 1s;	
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -moz-transition: opacity 1s;
}
.buyBtn {
	position: absolute;
	bottom: 10px;
	opacity: 0;
	transition: opacity 1s;	
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -moz-transition: opacity 1s;
}
.buyBtn img {
	display: block;
	margin: auto;
	width: 100px;
}
.flash {
	position: absolute;   
    width: 500px;
    height: 300px;
    margin: auto;
    left: 125px;
    top: 25px;
    right: 0;
    z-index: 1;
}
.flash img {
	position: absolute;   
    width: 100px;
    top: 0;
    left: 0;
    opacity: 0; 
}

@keyframes fadeInFlash {
	0% { 
		opacity: 0; 
		transform: scale(0) rotate(0deg);
		-webkit-transform: scale(0) rotate(0deg);
		-moz-transform: scale(0) rotate(0deg);
		-o-transform: scale(0) rotate(0deg);
	}	
	80% { 
		opacity: 1; 
		transform: scale(5) rotate(180deg); 
		-webkit-transform: scale(5) rotate(180deg);
		-moz-transform: scale(5) rotate(180deg);
		-o-transform: scale(5) rotate(180deg);
	}
	85% { 
		opacity: 0.5; 
		transform: scale(6) rotate(360deg);
		-webkit-transform: scale(6) rotate(360deg);
		-moz-transform: scale(6) rotate(360deg);
		-o-transform: scale(6) rotate(360deg);  
	}
	100% { 
		opacity: 0; 
		transform: scale(10) rotate(500deg); 
		-webkit-transform: scale(10) rotate(500deg);
		-moz-transform: scale(10) rotate(500deg);
		-o-transform: scale(10) rotate(500deg);
	}
}
@-webkit-keyframes fadeInFlash {
	0% { 
		opacity: 0; 
		transform: scale(0) rotate(0deg);
		-webkit-transform: scale(0) rotate(0deg);
		-moz-transform: scale(0) rotate(0deg);
		-o-transform: scale(0) rotate(0deg);
	}	
	80% { 
		opacity: 1; 
		transform: scale(5) rotate(180deg); 
		-webkit-transform: scale(5) rotate(180deg);
		-moz-transform: scale(5) rotate(180deg);
		-o-transform: scale(5) rotate(180deg);
	}
	85% { 
		opacity: 0.5; 
		transform: scale(6) rotate(360deg);
		-webkit-transform: scale(6) rotate(360deg);
		-moz-transform: scale(6) rotate(360deg);
		-o-transform: scale(6) rotate(360deg);  
	}
	100% { 
		opacity: 0; 
		transform: scale(10) rotate(500deg); 
		-webkit-transform: scale(10) rotate(500deg);
		-moz-transform: scale(10) rotate(500deg);
		-o-transform: scale(10) rotate(500deg);
	}
}

.internal {
	position: absolute;
    width: 367px;
    height: 210px;
    margin: auto;
    left: 25px;
    right: 0;
    top: 26px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s;
}
.internal img {
	width: 100%;
}
.rainDrops-wrapper {
	position: absolute;
    width: 465px;
    height: 248px;
    margin: auto;
    left: 25px;
    right: 0;
    top: 0;
}
.dropContainer {
	position: absolute;
	width: 200px;
	height: 200px;
}
.rainDrops-wrapper .drop {
	position: absolute;	
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	width: 200px;
	opacity: 0;
	transition: all .1s;
    -webkit-transition: all .1s; 
    -moz-transition: all .1s; 
    -o-transition: all .1s;
}